@model CrudPracticeMVC.Models.Employee

@{
    ViewBag.Title = "afterLogin";
}

<h2>afterLogin</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Error</h1>
        @*<h3>Username : @Session["userName"].ToString()</h3>*@
        @*<a href="@Url.Action("LogOut","Login")">LogOut</a>*@
    </div>
</body>
</html>

